In [1]:
#list
a=[1,2,3,4,5,6]
print(a)

[1, 2, 3, 4, 5, 6]

In [4]:
a=[3,4,5,6,7]
print(a)
print(type(a))
print(2,3)

[3, 4, 5, 6, 7]
<class 'list'>
2 3

In [6]:
a=[34,54,12,3.4,"salma"]
print(a)
print(type(a))
print(4,2)

[34, 54, 12, 3.4, 'salma']
<class 'list'>
4 2

In [9]:
x=[10,34,25,9,87,78]
for a in range(0,5):
    print(x[a])

10
34
25
9
87

In [ ]:
#list operations

->pop to pull out element of the list (default is last)
->sort the list in acending order and return none
->copy the element
->append object to end of the list
->extend the list by appending elements from the iterable
->index return first index of value
->count return no of occurrences of value
->insert insert object before index
->remove remove first occurrence object
->lenght lenght is used to find the lenght of list

In [17]:
#list operations
a=[1,2,3,4,5,6,7,8,9,10]
b=a.copy()
print(b)

c=b.pop(3)
print(c)

print(b)

b.append(10)
print(b)
b.append(3)
b.append(7)
b.append(3)
print(b)
print(b.index(3))
print(b.count(3))
print(b.count(10))

b.insert(4,9)
print(b)

b.sort()
print(b)
b.sort(reverse=True)
print(b)

print(len(b))

b.extend(a)
print(b)
print(b+a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
4
[1, 2, 3, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 5, 6, 7, 8, 9, 10, 10]
[1, 2, 3, 5, 6, 7, 8, 9, 10, 10, 3, 7, 3]
2
3
2
[1, 2, 3, 5, 9, 6, 7, 8, 9, 10, 10, 3, 7, 3]
[1, 2, 3, 3, 3, 5, 6, 7, 7, 8, 9, 9, 10, 10]
[10, 10, 9, 9, 8, 7, 7, 6, 5, 3, 3, 3, 2, 1]
14
[10, 10, 9, 9, 8, 7, 7, 6, 5, 3, 3, 3, 2, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
#for each loop
a=[10,3,5,8,93,8,383,72,983,738,89]
for x in a:
    print(x)

10
3
5
8
93
8
383
72
983
738
89

In [2]:
n=int(input("Enter the size of list: "))
a=[]
for x in range(0,n):
    x=input()
    a.append(x)
print(a)

Enter the size of list:  7
 3
 4
 6
 7

 5
 4

['3', '4', '6', '7', '', '5', '4']

In [7]:
a=[item for item in (input("Enter the Elements of the list:").split())]
print(a)

Enter the Elements of the list: 1 2 3 4 5 6 7

['1', '2', '3', '4', '5', '6', '7']

In [8]:
a=[int(item) for item in (input("Enter the elements of the list:").split())]
print(a)

Enter the elements of the list: 2 4 5 6 7 8

[2, 4, 5, 6, 7, 8]

In [9]:
#list constructor

a=list([1,2,3,4,5,6,7])
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [10]:
#tuple

a=(1,2,3,4,5,6,7,"salma")
print(a)

(1, 2, 3, 4, 5, 6, 7, 'salma')

In [12]:
#tuble in list

a=(1,2,3,4,5,6,7,"salma")

b=list(a)
print(b)
b[5]="umme"

a=tuple(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 'salma']
(1, 2, 3, 4, 5, 'umme', 7, 'salma')

In [2]:
a=(1,2,3,4,5,6,7,8,9)
for x in range(-1,-1*(len(a)+1),-1):
    print(a[x])

9
8
7
6
5
4
3
2
1

In [3]:
a=(1,2,3,4,5,6,7,8,9)
for x in range(0,len(a)):
    print(a[-1*(x+1)])

9
8
7
6
5
4
3
2
1

In [ ]:
#dictionary
having key and pairs
key value pairs
get 
items
copy

In [14]:
D={1:"salma",2:"umme",3:"salma",2:"abcd"}
print(D)

print(D[2])

print(D.keys())
print(D.values())
print(D.items())
print(D.get(2))
print(D.get(4))

{1: 'salma', 2: 'abcd', 3: 'salma'}
abcd
dict_keys([1, 2, 3])
dict_values(['salma', 'abcd', 'salma'])
dict_items([(1, 'salma'), (2, 'abcd'), (3, 'salma')])
abcd

In [10]:
#write a program to take key and value as input user and add it to dictionary if key is not present in dictionary otherwise key is already exits and prints its value
d={1:"sona",2:"sana",3:"mussu",4:"aziiya"}
print(d)
d[5]="mango"
d[8]="cherry"
print(d.keys())
print(d.values())
print(d.items())
print(d.get(6))

{1: 'sona', 2: 'sana', 3: 'mussu', 4: 'aziiya'}
dict_keys([1, 2, 3, 4, 5, 8])
dict_values(['sona', 'sana', 'mussu', 'aziiya', 'mango', 'cherry'])
dict_items([(1, 'sona'), (2, 'sana'), (3, 'mussu'), (4, 'aziiya'), (5, 'mango'), (8, 'cherry')])
None

In [12]:
#create a list from the user prints the value otherwise prints the default value

a=[1,2,3,4,5,6]
i=int(input("enter the index:"))
try:
    print(a[i])
except:
    print("there is no such index")

enter the index: 10

there is no such index

In [14]:
try:
    c=10/0
except ValueError:
    print("Data Type Issue")
except ZeroDivisionError:
    print("can't Divide by Zero")
except:
    print("some unknown Error Found")
else:
    print("no Error")
finally:
    print("code Execution done")

can't Divide by Zero
code Execution done

In [15]:
try:
    a=input()
    b=input()
    c=int(a)/int(b)
except ValueError:
    print("Data Type Issue")
except ZeroDivisionError:
    print("can't Divide by Zero")
except:
    print("some unknown Error Found")
else:
    print("no Error")
finally:
    print("code Execution done")

 5
 6

no Error
code Execution done

In [17]:
try:
    a=input()
    b=input()
    c=int(a)/int(b)
    x="hello"/3
except ValueError:
    print("Value unable to convert")
except ZeroDivisionError:
    print("Can't Divide by Zero")
except:
    print("some unknown Error Found")
else:
    print("no Error")
finally:
    print("code Execution done")

 5
 2

some unknown Error Found
code Execution done

In [ ]:

write a program python to find sum of all the elements in list and handled the case if consist of non-numeric value(using exception)?
create a dictionary a student marks with cgpa 
write a program

In [1]:

#List

list=[1,2,3,4,5]
sum=0
for i in list:
    sum=sum+i
    print("Sum of all elements in a list is:",sum)

Sum of all elements in a list is: 1
Sum of all elements in a list is: 3
Sum of all elements in a list is: 6
Sum of all elements in a list is: 10
Sum of all elements in a list is: 15

In [5]:
def calculate_average_grade(student_grades):
    if not student_grades:
        print("No grades available.")
        return None

    total_grades = sum(student_grades.values())
    average_grade = total_grades / len(student_grades)
    return average_grade
student_grades = {
    "Alia": 85,
    "Sonu": 90,
    "Sana": 78,
    "Sami": 95,
    "Anum": 88
}
average = calculate_average_grades(student_grades)
if average is not None:
    print("Average grade:",average)

NameError: name 'calculate_average_grades' is not defined